/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

:root {
  --primary-bg-color: #dfe0cc;
  --primary-color: #631b40;
  --secondary-green-color: #aeb080;
  --secondary-pink-color: #d292a8;
}

* {
  @import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Google Sans';
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  /* color: var(--color-text);
  background-color: var(--color-background-900); */
  /* padding: 2.4rem; */
  height: 200rem;
  background-color: var(--primary-bg-color);
}

.nav-bar {
  margin: 0 auto;
  text-align: center;
  max-width: 100vw;
  max-height: 5rem;
  background-color: chartreuse;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: "Yuyu";
  font-size: 1.5rem;
  /* font-weight: 600; */
}

.nav-bar ul li {
  display: inline-block;
  margin: 0 2rem;
  border-bottom: 1px solid transparent;
}

.nav-bar ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
  transition: 0.5s linear;
}

section.landing {
  height: 100vh;
  /* background-color: mediumvioletred; */
  /* background-color: beige; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  /* background: linear-gradient(0deg,rgba(245, 245, 220, 1) 5%, rgba(199, 21, 133, 1) 50%, rgba(199, 21, 133, 1) 100%); */

  background: radial-gradient(circle, rgba(199, 21, 133, 0.5), transparent 50%);
}

section.landing h1 {
  font-family: "Elsie";
  font-size: 8rem;
}

section.landing h3 {
  font-family: "Butterfly Kids";
  font-size: 3rem;
  font-weight: 100;
}

section.landing h3 span {
  font-family: 'Butterfly Kids';
  font-weight: 800;
}

.font {
  font-size: 3rem;
  text-align: center;
}

.twinkle {
  font-family: 'Twinkle Star';
}

.yuyu {
  font-family: 'Yuyu';
}

.butter {
  font-family: 'Butterfly Kids';
}

.elsi {
  font-family: 'Elsie';
}

.title {
  font-family: 'Elsie';
  font-size: 5rem;
  margin-bottom: 4rem;
}

section {
  height: 100vh;
  padding: 10rem;
}

.title {
  color: var(--primary-color);
  font-family: 'Google Sans';
  font-weight: 500;
}

section.about {
  height: max-content;
  background: radial-gradient(circle farthest-side at 1% 20%, rgba(174, 176, 128, 1), transparent 20%), radial-gradient(circle farthest-side at 99% 65%, rgba(199, 21, 133, 0.3), transparent 20%);
}

section.about .container {
  margin: 2rem;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.item:nth-child(3) {
  grid-column: 1 / -1;
}

section.about .container img {
  width: 32rem;
  height: 100%;
  border: 5px solid var(--secondary-pink-color);
  border-radius: 50% 50% 10px 10px;
  /* max-height: 30rem; */
  object-fit: cover;
}

section.about .container .content {
  font-weight: 500;
}

section.about .container .content p {
  font-size: 1.5rem;
  color: var(--primary-color);
}

section.about .container .content button:hover {
  cursor: pointer;
  box-shadow: var(--primary-color) 0px 2px 5px 0px;
}

section.about .container .content button {
  margin-top: 2rem;
  border: 0;
  background-color: var(--primary-color);
  color: var(--secondary-pink-color);
  padding: 1.5rem 3rem;
  border-radius: 50px;
  text-transform: lowercase;
  transition: all .5s ease;
}

.skills {
  margin-top: 2rem;
}

.skills p.skill-title, .creds-title {
  font-size: 2rem!important;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 1rem;
  color: var(--primary-color);
  /* font-family: 'Elsie'; */
}

.skills span {
  display: inline-block;
  background-color: var(--secondary-green-color);
  color: var(--primary-bg-color);
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  /* margin-right: 0.5rem; */
  border-radius: 20px;
}

.skills .skill-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
}

.skills .skill-sect-title {
  margin-bottom: 0.5rem;
}

.skills .skill-sect-content {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
  flex-wrap: wrap;
}

.creds .creds-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.cred {
  background-color: #F8F7F2;
  padding: 1rem 2rem;
  border-radius: 20px;
  font-size: 1.3rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  transition: all 0.5s ease;
}

.cred:hover {
  box-shadow: var(--secondary-pink-color) 0px 3px 5px 0px;
}

.cred .cred-icon {
  font-size: 4rem;
  color: var(--secondary-green-color);
}

.cred .cred-content .cred-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.cred .cred-content .cred-link {
  margin-top: 0.5rem;
}

.cred .cred-content .cred-link a {
  color: var(--secondary-pink-color);
  font-size: 1.2rem;
}

.cred .cred-content .cred-link a:hover {
  color: var(--primary-color);
}

.creds-footer {
  margin-top: 1rem;
  text-align: end;
}

.ribbon {
  max-width: 100%;
  /* overflow: hidden; */
  /* background: var(--secondary-green-color); */
  padding: 0.8rem 1.5rem;
  box-sizing: border-box;
}

.ribbon.green {
  background: var(--secondary-green-color);
  color: var(--primary-color);
}

.ribbon.violet {
  background: var(--secondary-pink-color);
  color: var(--primary-color);
}

.ribbon-track {
  display: flex;
  justify-content: space-between;
  /* width: max-content; */
  /* animation: scroll 15s linear infinite; */
}

.ribbon-item {
  /* display: flex; */
  /* align-items: center; */
  font-weight: bold;
  /* font-size: 18px; */
  text-transform: lowercase;
  /* white-space: nowrap; */
  /* padding: 0 2rem; */
}

.ribbon-item.beige {
  color: var(--primary-bg-color);
}

/* .ribbon-item::after {
  content: "@";
  margin-left: 20px;
  color: beige;
} */

/* @keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
} */

@media (max-width: 798px) {
  .ribbon-item {
    font-size: 0.5rem;
  }
}

section.projects {
  min-height: max-content;
  background: radial-gradient(circle, rgba(174, 176, 128, .7), transparent 50%);
}

section.projects .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

section.projects .container .card {
  /* width: 30rem; */
  /* height: 40rem; */
  background-color: #F8F7F2;
  border-radius: 20px;
  transition: all 0.5s ease;
  padding-bottom: 20px;
}

section.projects .container .card:hover {
  /* box-shadow: var(--secondary-pink-color) 0px 3px 20px 0px; */
  box-shadow: 0 14px 30px rgba(98, 36, 77, .18);
}

section.projects .container .card .card-img img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  /* border-bottom: 1px solid var(--primary-bg-color); */
  box-shadow: var(--primary-bg-color) 0px 2px 20px 0;
}

section.projects .container .card .card-img {
  /* box-shadow: var(--primary-bg-color) 0px 2px 5px 0; */
}

section.projects .container .card .card-content {
  margin: 1rem;
  /* display: flex; */
}

section.projects .container .card .card-content .card-title {
  /* font-size: 1.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: var(--primary-bg-color);
  text-align: center;
  color: var(--primary-color);
  border-radius: 10px;
  padding: 3px 0; */

  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  margin-top: 10px;
}

section.projects .container .card .card-content .card-category {
  text-transform: uppercase;
  letter-spacing: 1px;
  /* background-color: var(--secondary-pink-color); */
  /* display: inline-block; */
  /* padding: 2px 8px;
  border-radius: 20px; */
  font-weight: 800;
  color: var(--primary-color);
  /* color: #fff; */
}

section.projects .container .card .card-content .card-category ul {
  list-style-type: none;
  display: flex;
  gap: 0.5rem;
}

section.projects .container .card .card-content .card-category ul li {
  background-color: var(--secondary-pink-color);
  padding: 0.5rem 1rem;
  border-radius: 20px;
}

section.projects .container .card .card-content .card-desc {
  margin-top: 5px;
  font-size: 1.3rem;
}

section.projects .container .card .card-content .card-links {
  display: flex;
  gap: 0.5rem;
  margin-top: 5px;
  font-size: 1.3rem;
  /* font-weight: 800; */
}

section.projects .container .card .card-content .card-links a {
  border-radius: 20px;
  /* background-color: var(--secondary-pink-color); */
  background-color: #fff;
  /* box-shadow: var(--secondary-pink-color) 0px 0px 5px 0px; */
  border: 1px solid var(--secondary-pink-color);
  padding: 5px 15px;
  color: var(--secondary-pink-color);
  /* color: black; */
  text-decoration: none;
  transition: all 0.3s ease;
}

section.projects .container .card .card-content .card-links a:hover {
  background-color: var(--secondary-pink-color);
  color: var(--primary-color);
  /* border: 1px solid var(); */
}

section.projects .container .card .card-content .card-tools {
  margin: 1rem 0;
}

section.projects .container .card .card-content .card-tools ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  font-size: 1.1rem;
  flex-wrap: wrap;
}

section.projects .container .card .card-content .card-tools ul li {
  background-color: var(--secondary-green-color);
  color: var(--primary-bg-color);
  padding: 5px 20px;
  font-weight: 500;
  border-radius: 20px;
  /* margin: 1rem 0; */
}

section.contact {
  max-height: 300px!important;
  /* background-color: var(--secondary-pink-color); */
  /* background: radial-gradient(circle, rgba(174, 176, 128, .7), transparent 50%); */
  background: linear-gradient(to top, rgba(174, 176, 128, 1), transparent 50%);
  /* margin: 3rem; */
  /* border-radius: 20px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.contact .container .contact-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

section.contact .container .contact-links a {
  background-color: var(--primary-bg-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  border-radius: 20px;
  color: black;
  font-weight: 500;
  transition: all 0.3s ease;
}

section.contact .container .contact-links a:hover {
  box-shadow: var(--secondary-green-color) 0px 3px 8px 0px;
}

footer {
  background-color: var(--secondary-green-color);
  padding: 2rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--primary-bg-color);
}